.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

// Custom social buttons
.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}